
[build_ext]
## build in place
#inplace = 1
## compiler: unix or intelem
compiler = unix
## on a Mac with MacPorts you might want to uncomment these lines
#include-dirs = /opt/local/include
#library-dirs = /opt/local/lib


# Nothing should need to be changed below here #


[build_sphinx]
source-dir = doc

[nosetests]
where = atoman
