
[build_ext]
## build in place
#inplace = 1
## compiler: 'unix' or 'intelem' have been tested
compiler = unix
## on a Mac with MacPorts you might want to uncomment these lines
#include-dirs = /opt/local/include
#library-dirs = /opt/local/lib

[build_clib]
# compiler: unix or intelem
compiler = unix
# on a Mac with MacPorts you might want to uncomment this line
#include-dirs = /opt/local/include


# Nothing should need to be changed below here #


[build_sphinx]
source-dir = doc/source
build-dir = doc/build

[nosetests]
where = atoman
## uncomment this line to exclude tests which create a QApplication
#exclude = slowtests

[flake8]
max-line-length = 120
ignore = W293,W291

[versioneer]
VCS = git
style = pep440
versionfile_source = atoman/_version.py
versionfile_build = atoman/_version.py
tag_prefix =
parentdir_prefix = atoman-
